@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

body {
  font-family: Poppins;
}

.address-text {
  font-size: 16px;
}

.overlay {
  position: fixed;
  z-index: 4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.modal {
  margin: 35px auto;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  max-width: 400px;
  position: relative;
  z-index: 5;
}

.modal .close {
  position: absolute;
  top: 0px;
  right: 20px;
  transition: all 200ms;
  font-size: 40px;
}
